body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}
.conatiner{
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
}
   h1, h2 {
            text-align: center;
            color: #333;
        }

        select, button {
            padding: 10px 15px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button {
            background-color: #007bff;
            color: rgb(26, 0, 0);
            border: none;
            cursor: pointer;
            transition: background 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        .option-btn {
            display: block;
            width: 100%;
            margin: 5px 0;
            padding: 10px;
            text-align: left;
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.2s;
        }

        .option-btn:hover {
            background-color: #e2e6ea;
        }

        .hidden {
            display: none;
        }

        #result {
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            font-size: 18px;
        }